openapi: 3.1.0
info:
  title: Kcal Dataset Release API
  version: 0.0.1
  license:
    name: CC0 1.0 Universal
    identifier: CC0-1.0
  description: >-
    Versioned, signed dataset releases and delta-sync (SRS Epic C:
    FR-C-1..5). Open-base layer is public; verified-layer deltas require an
    authenticated tier — see `common/components.yaml`'s security schemes.
servers:
  - url: https://releases.datocal.com
security:
  - anonymousClientId: []
  - bearerAuth: []
  - apiKeyAuth: []
tags:
  - name: Releases
    description: >-
      Discover, verify, and delta-sync signed dataset releases
      (calendar-versioned `vYYYY.MM`).
paths:
  /releases:
    get:
      operationId: listReleases
      summary: List dataset releases
      description: >-
        Enumerate available releases for a layer, newest first (FR-C-1).
        Clients use this to find the latest version and to pick an earlier
        version to roll back to (FR-C-5). The `open` layer is public; the
        `verified` layer requires an authenticated tier (FR-C-4).
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/Layer'
        - $ref: './common/components.yaml#/components/parameters/Cursor'
        - $ref: './common/components.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: A page of releases for the requested layer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleasePage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: './common/components.yaml#/components/responses/TooManyRequests'
  /releases/{version}:
    get:
      operationId: getReleaseManifest
      summary: Get a release manifest
      description: >-
        Retrieve the signed manifest for a release (FR-C-3): record count,
        checksum, changelog, and Ed25519 signature. Clients MUST verify the
        signature before applying the release.
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/Layer'
      responses:
        '200':
          description: The signed release manifest.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseManifest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: './common/components.yaml#/components/responses/TooManyRequests'
  /releases/{version}/delta:
    get:
      operationId: getReleaseDelta
      summary: Get a delta to a release
      description: >-
        Fetch the changed and removed records needed to advance a client from
        its installed version to `version` (FR-C-2). Omit `from` (or pass a
        version too old to delta from) to receive a full snapshot instead —
        signalled by a null `from_version` in the response. The payload is
        signed; clients MUST verify before applying (FR-C-3).
      tags: [Releases]
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/Layer'
        - name: from
          in: query
          required: false
          description: The client's currently installed version (`vYYYY.MM`).
          schema:
            $ref: '#/components/schemas/Version'
      responses:
        '200':
          description: The delta (or full snapshot) to apply.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDelta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: './common/components.yaml#/components/responses/TooManyRequests'
components:
  securitySchemes:
    anonymousClientId:
      $ref: './common/components.yaml#/components/securitySchemes/anonymousClientId'
    bearerAuth:
      $ref: './common/components.yaml#/components/securitySchemes/bearerAuth'
    apiKeyAuth:
      $ref: './common/components.yaml#/components/securitySchemes/apiKeyAuth'

  parameters:
    Version:
      name: version
      in: path
      required: true
      description: Calendar version of the release (`vYYYY.MM`).
      schema:
        $ref: '#/components/schemas/Version'
    Layer:
      name: layer
      in: query
      required: true
      description: Which dataset layer to operate on.
      schema:
        $ref: '#/components/schemas/Layer'

  responses:
    NotFound:
      description: No release exists for the given version and layer.
      content:
        application/json:
          schema:
            $ref: './common/components.yaml#/components/schemas/Error'
    Unauthorized:
      description: The verified layer requires authentication; none was provided.
      content:
        application/json:
          schema:
            $ref: './common/components.yaml#/components/schemas/Error'
    Forbidden:
      description: The caller's tier is not entitled to the verified layer.
      content:
        application/json:
          schema:
            $ref: './common/components.yaml#/components/schemas/Error'

  schemas:
    Version:
      type: string
      description: Calendar version, `vYYYY.MM`.
      pattern: '^v\d{4}\.\d{2}$'
      examples:
        - v2026.08

    Layer:
      type: string
      description: >-
        `open` is the public base dataset; `verified` is the
        dietitian-verified layer, gated to authenticated tiers (FR-C-4).
      enum:
        - open
        - verified

    ReleaseSummary:
      type: object
      description: Identifying metadata for one dataset release.
      required:
        - version
        - layer
        - checksum
        - published_at
      properties:
        version:
          $ref: '#/components/schemas/Version'
        layer:
          $ref: '#/components/schemas/Layer'
        checksum:
          type: string
          description: >-
            Lowercase-hex SHA-256 of the release **artifact bytes** — the
            compressed snapshot file exactly as served. A client that downloads
            a full snapshot verifies it by hashing the bytes it received.


            This is deliberately not the same value as `DatasetDelta.checksum`,
            which is a digest of the *record set* rather than of a file; see
            that field for why both exist.
        published_at:
          type: string
          format: date-time

    ReleasePage:
      description: A cursor-paginated page of releases.
      allOf:
        - $ref: './common/components.yaml#/components/schemas/Page'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/ReleaseSummary'

    ReleaseManifest:
      description: A release's full, signed manifest (FR-C-3).
      allOf:
        - $ref: '#/components/schemas/ReleaseSummary'
        - type: object
          required:
            - record_count
            - signature
          properties:
            record_count:
              type: integer
              minimum: 0
              description: Number of food records in the full snapshot.
            changelog:
              type: [string, 'null']
              description: Human-readable summary of what changed in this release.
            signature:
              type: string
              description: Base64-encoded Ed25519 signature over the release payload.

    DatasetDelta:
      type: object
      description: >-
        The records to apply to move a client to `to_version`. A null
        `from_version` means this is a full snapshot rather than a delta.
      required:
        - from_version
        - to_version
        - layer
        - checksum
        - signature
        - changed
        - removed
      properties:
        from_version:
          oneOf:
            - $ref: '#/components/schemas/Version'
            - type: 'null'
          description: The version this delta applies on top of; null for a full snapshot.
        to_version:
          $ref: '#/components/schemas/Version'
        layer:
          $ref: '#/components/schemas/Layer'
        checksum:
          type: string
          description: >-
            Lowercase-hex SHA-256 **dataset digest** of the records the client
            should hold once this payload has been applied. Clients SHOULD
            recompute it after applying and roll back on a mismatch (FR-C-5).


            This digests the record *set*, not a file, because a client that has
            applied a delta holds records and has no artifact bytes left to hash
            — unlike `ReleaseSummary.checksum`, which covers served bytes.


            The digest MUST be computed as follows. It is defined at byte level
            because producer and consumer are written in different languages and
            have to agree exactly.


            **Per record**, build a byte string by appending, in order:

            1. `id`, as its canonical lowercase hyphenated UUID string.

            2. `name_en`.

            3. `name_es`: a single `0x00` byte if the field is absent or null;
               otherwise `0x01` followed by the value.

            4. `region`: the same absent/present marker convention as `name_es`.

            5. `kcal_100g`, `protein_100g`, `carbs_100g`, `fat_100g`, each
               rendered as a decimal string with **exactly four digits after the
               decimal point** (e.g. `130.0000`, `-0.0000` normalised to
               `0.0000`), using `.` as the separator and no thousands separator,
               exponent, or leading `+`.

            Every *string* value above (steps 1, 2, and the values in 3–5) is
            preceded by its UTF-8 byte length as a **big-endian unsigned 64-bit
            integer**. The `0x00`/`0x01` presence markers are bare bytes and are
            not length-prefixed.


            **Across records**: encode each record independently, then sort the
            resulting byte strings in ascending lexicographic byte order. The
            digest is therefore independent of the order records arrive in, so a
            client that applied a sequence of deltas agrees with one that
            ingested a full snapshot.


            **Finally**: SHA-256 over the ASCII bytes of the domain-separation
            tag `macrolibre-dataset-v1`, followed by each sorted record byte
            string in order. Render the result as lowercase hex.


            Two details are load-bearing. Nutrients use fixed four-decimal
            formatting rather than each language's default float-to-string,
            which disagree on precision and edge cases; four decimals exceed the
            precision of the upstream sources. Length-prefixing prevents
            distinct field combinations from encoding to identical bytes (for
            example `name_en` = `"ab"` with no `name_es`, versus `name_en` =
            `"a"` with `name_es` = `"b"`).
        signature:
          type: string
          description: >-
            Base64-encoded Ed25519 signature over this delta. Clients MUST
            verify it before applying (FR-C-3).


            The signed payload covers `from_version`, `to_version`, `layer`,
            `checksum`, a dataset digest (as specified above) of the `changed`
            records, and the `removed` id list — so a tampered record is
            rejected *before* the client mutates its store, rather than only
            being caught by the post-apply `checksum` comparison. It also
            carries a domain-separation tag distinct from the one used for
            `ReleaseManifest.signature`, so a signature over one artifact cannot
            be replayed as the other.
        changed:
          type: array
          description: Added or modified food records.
          items:
            $ref: './common/components.yaml#/components/schemas/Food'
        removed:
          type: array
          description: Ids of records removed since `from_version` (tombstones).
          items:
            type: string
            format: uuid
